@charset "UTF-8";

.principal {
    background-color:#349a46;
    border-radius: 8px;
    margin: 10px;
    width: 300px;
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;

}

.tabela1 {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    border-color: black;
    margin: 10px;
    width: 600px;
}

.tabela2 {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    border-color: black;
    margin: 10px;
    width: 600px;
    background-color: #9bd7a678
}

.teste {
    
    color: #349a46;
}


